.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 0px 5px;
}

.title {
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
  /* text-align: center; */
}

.team {
  background-color: transparent;
  border: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.logo {
  width: 250px;
  object-fit: contain;
}

.logobtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: -25px auto;
}

.teammate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.member {
  margin: 10px;
  height: 200px;
  width: 250px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: url('./image/heehyun.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
}

.member:hover {
  opacity: 0.7;
  color: black;
  font-size: 50px;
  width: 300px;
  height: 230px;
}

.comment {
  width: 1200px;
  font-weight: bolder;
}

.comment-record {
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin: 10px 25px;
  background-color: lightsteelblue;
}

.comment-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* 요소들을 세로 중앙 정렬 */
  margin-bottom: 3px;
}

.new-comment {
  display: flex;
  flex-direction: row;
  text-align: left;
  height: 50px;
}

.nickname {
  margin: 10px;
  width: 100px;
}

.detail {
  margin: 10px;
  width: 650px;
}

.addbtn {
  margin: 10px 10px 10px auto;
  width: 100px;
  background-color: lightsteelblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  width: 400px;
  height: 180px;
  padding: 15px;
  font-size: 25px;
  color: black;
  font-weight: bold;
  border-radius: 8px;
}

.personal {
  background-color: lightgray;
  width: 180px;
  height: 40px;
  margin: 5px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.personal:hover {
  opacity: 0.7;
}

.personal:active {
  border: 2px solid gray;
}

.user-name {
  margin-top: 10px;
}

.user-text{
  border-radius: 10px;
  background-color: #FFE146;
  margin-top: 10px;
  margin-left: 8px;
  padding: 5px;
  max-width: 200px;
  word-break: break-all;
}

.timestamp{
  margin-top: 10px;
  margin-left: 8px;
  font-size: 10px;
  color: gray;
}

.comment-input{
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.input-name{
  border: 1px solid #999;
  border-radius: 8px;
  width: 80px;
  height: 30px;
  margin: 5px;
}

.input-comment{
  border: 1px solid #999;
  width: 950px;
  height: 30px;
  margin: 5px;
  border-radius: 8px;
}

.input-button{
  background-color: #FFE146;
  width: 60px;
  border: none;
  height: 32px;
  margin: 5px;
  border-radius: 8px;
}