.layout{
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 0px 5px;
}

.title {
  margin: 5px 10px;
  font-size: 22px;
  font-weight: bold;
}

.team{
  background-color: transparent;
  border: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.logo{
  width: 250px;
  object-fit: contain;
}

.logobtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: -25px auto;
}

.teammate{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.member {
  margin: 10px;
  height: 300px;
  width: 250px;
  text-align: left;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: lightsteelblue;
}

.comment{
  display: flex;
  flex-direction: column;
}

.comment-record{
  border: 1px solid black;
  margin: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.new-comment {
  display: flex;
  flex-direction: row;
  text-align: left;
  height: 50px;
}

.nickname {
  margin: 10px;
  width: 100px;
}

.detail{
  margin: 10px;
  width: 650px;
}

.addbtn{
  margin: 10px 10px 10px auto;
  width: 100px;
  background-color: lightsteelblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}